html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

/* Wrapper principal */
.layout-wrapper {
    display: flex;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}

input, textarea, select {
    border-radius: 10px;
    border: 1px solid black;
    height: 2.5rem;
    padding-left: .8rem;
}

button {
    background: white;
    border-radius: 15px;
    border: none;
    height: 2.5rem;
    color: black;
    margin-top: 1rem;
}

.btnEdit {
    box-shadow: 0px 0px 10px yellow;
    border: 1px solid yellow;
    background: #999900;
    color:white;
}

.btnDelete {
    box-shadow: 0px 0px 10px red;
    border: 1px solid red;
    background: #990000;
    color:white;
}


/* Contenido principal */
.main-content {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

    .main-content main {
        flex: 1;
        padding: 20px;
        min-width: 0;
        padding: 0px;
    }

/* Footer */
footer {
    padding: 10px;
    position:static !important
}
